:root {
    --app-bar-height: 48px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
.app-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: fit-content;
    color: white;
    font-size: 18px;
}

#snackbar {
    display: none;
    background-color:  rgba(51, 51, 51, 0.8);
    color: #fff;
    text-align: center;
    border-radius: 20px;
    padding: 10px 20px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}