@media screen and (max-height: 576px) 	
{
	#element { width: 14%; margin-left:5px; height:55%; }
	#element li {
		list-style:none;
		height:22px;
		line-height:22px;
		text-transform:uppercase;
		font-size:11.5px;
	}
}

@media screen and (max-height: 360px) 	
{
	#element { width: 14%; margin-left:5px; } 
	
	#element li {
		list-style:none;
		height:17px;
		line-height:17px;
		text-transform:uppercase;
		font-size:7px;
	}
	
	#main_content, #logout, .all_btn, input, select, #tableFormat, textarea, body { font-size: 9px; }
	
	#breadcrumb
	{
		font-size:10px;
		background-color: #B1D2ED;
		height:20px;
		line-height:20px;
		padding-left:10px;
	}
	
	#view, #edit, #del { width: 12px; }
	#add { width: 20px; } 
}

