h1 {font:30px 'Trebuchet MS',Verdana; margin:0}
h2 {font-size:12px; font-weight:normal; font-style:italic; margin:0 0 20px}
p {margin:0 0 14px}

.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; background:#EBF3FE url(images/preload.gif) no-repeat 50% 50%; border:1px solid #333; overflow:auto;}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#fff; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:rgb(237,28,36); color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:0px; border-radius:0px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0;overflow:hidden;width:100%;}
#blank {height:100%;width:100%;background:#fff}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}