@charset "utf-8";
/* CSS Document */

*{
	/* A universal CSS reset */
	margin:0;
	padding:0;
}
body{
	background: #fff;
	font-family: Arial, Helvetica, sans-serif;
	color:#666;
	font-size:13px;
	height:100%;
}
.copyright{
	text-align:center;
	font-size:12px;
	color:#666;
	margin:5px 0 0 0;
}
img {
	max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */	
}
#nav{
	position: absolute;
	min-width:90%;
	width: auto !important;
	left:4.5%;
	background:#fff;
}

.elements{
	width:222px;
	margin:0 auto;
	padding:10px 0;
}
.avatar{
	background:url(../../img/logo.jpg) no-repeat center;
	height:83px;
	width:218px;
	margin-bottom:5px;
	margin-top:5px;
}
#box{
	background:url(../../img/shape.png) no-repeat center;
	margin:150px auto 0 auto;
	width:360px;
	height:264px;
}
.username{
	background:url(../../img/usermamefield.gif) no-repeat top;
	width:222px;
	height:32px;
	text-align:center;
}
.username:focus{
	background:url(../../img/usermamefield.gif) no-repeat bottom;
	color:#333333;
}
.password{
	background:url(../../img/passwordfield.gif) no-repeat top;
	width:222px;
	height:32px;
	text-align:center;
}
.password:focus{
	background:url(../../img/passwordfield.gif) no-repeat bottom;
	color:#333333;
}
#element{
	position: absolute;
	min-width:90%;
	width: auto !important;
	padding: 15px;
	background:#fff;
	left:4.5%;
}

#main_content {
	position:absolute;
	left:1.5%;
	width:95%;
	padding: 10px;
 	min-height: 100%;
  	height: auto !important; /*min-height hack*/
  	height: 100%; 
	font-size: 13px;
	background:#fff;
}
#footer {
	position:absolute;
	left:4.5%;
	width:90%;
	padding: 15px;
	bottom:15px;
	
	font-size: 13px;
	background:#fff;
}

#tbl_nav ul 
{
list-style-type:none;
margin:0;
padding:0;
}
#tbl_nav li
{
display:inline;
height:20px;
background-color: #ccc;
line-height:20px;
padding: 5px;
font-weight:bold;
}
#tbl_nav li a { color: #000;	text-decoration:none; }

#tbl_nav li a:hover { color: #FF0; }

#tbl_nav li a:active { outline: none; position: relative; top: 2px; }

.clearfix 	{ clear: both; }

h3 { color:#E94601; }

textarea { font-family:Arial, Helvetica, sans-serif; }

#breadcrumb{
	font-size:13px;
	background-color: #ccc;
	height:25px;
	line-height:25px;
	padding-left:10px;
	color:#000;
}

#breadcrumb a { color: #000; text-decoration:none; }
#breadcrumb a:hover { text-decoration:underline; } 
#breadcrumb a:active { outline: none; position: relative; top: 2px; } 

#logout { color:#666; }
#logout:hover { color: #5BA0D9; }
#logout:active { outline: none; position: relative; top: 2px; } 

a { color: #2B91E3; text-decoration:none; }
a:hover { text-decoration:underline; } 
a:active { outline: none; position: relative; top: 2px; } 

.tableFormat, input, select { color:#666; }

.tableFormat tr{
	height: 23px;
	border-color:#FFF;
	border-collapse:collapse;
}

.tableFormat tr th{
	height:23px;	
	background-color: #ccc;
	line-height:23px;
	text-transform:uppercase;
	border-color:#FFF;
}

.tblFormat, input, select { color:#666; }

.tblFormat tr{
	height: 25px;
	border-color:#FFF;
	border-collapse:collapse;
}

.tblFormat tr td{
	padding-left:10px;
	padding-right:10px;
}

#main_tbl tr:hover td { background: #FDF2DB; }

/*------sub navigation----------*/
.submenu				{ padding: 0; margin: 10px 0; color:#000; font-size:12px; }
.submenu a 				{ color: #fff; display: block; float: left; background: #B1D2ED; padding:3px 15px 3px 15px; border:thin #966 solid; }
.submenu a:visited 		{ color: #f9f9f9; }
.submenu a:hover		{ text-decoration: none; background: #fff; color:#E94601; }
.submenu a:active		{ position: relative; top: 0; }

#index .submenu #, #index .submenu #application { text-decoration: underline; background: #fff; color:#E94601; }

/*------------------------------*/

#left{
	float:left;
	width: 40%;
}

#right{
	width: 50%;
	float:right;
	overflow-y:scroll;
	height:440px;
}

/*----------- all button style --------------*/
.all_btn {
	-moz-box-shadow: 0px 1px 2px 0px #ffffff;
	-webkit-box-shadow: 0px 1px 2px 0px #ffffff;
	box-shadow: 0px 1px 2px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E8E8E8), color-stop(1, #9A9A9A) );
	background:-moz-linear-gradient( center top, #E8E8E8 5%, #9A9A9A 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8E8E8', endColorstr='#9A9A9A');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	border:1px solid #9A9A9A;
	display:inline-block;
	color:#000;
	font-family:Arial;
	font-size:13px;
	font-style:normal;
	padding:3px 13px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #fff;
	cursor:pointer;
}
.all_btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9A9A9A), color-stop(1, #E8E8E8) );
	background:-moz-linear-gradient( center top, #9A9A9A 5%, #E8E8E8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9A9A9A', endColorstr='#E8E8E8');
	background-color:#e9e9e9;
}.all_btn:active {
	position:relative;
	top:1px;
}
/*-------------------------------------------*/

/*------------ notification message box ----------*/
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
	padding:7px 10px 7px 40px;
	background-size:20px 20px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../../img/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('../../img/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../../img/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../../img/error.png');
}
.error2 {
	display:inline-table;
    color: #D8000C;
    background-color: #FFBABA;
}
#error2{
	font-size:11px;
	margin-bottom:10px;
	color:#ff0000;
}

/*----------- notification end --------------*/

/*------sub navigation----------*/
.subnav 				{ padding: 0; margin: 10px 0; color:#333; font-size:12px; }
.subnav a 				{ color:#FFF; font-weight:bold; display:block; float:left; background:#999; padding:10px 20px 10px 20px; border:3px solid #FFF }
/*.subnav a:visited 		{ color: #333; }*/
.subnav a:hover		{ text-decoration: none; background:#CCC; color:#333; }
.subnav a:active		{ position: relative; top: 0; }

#active-menu { text-decoration: underline; background: #fff; color:#333; }
#active-menu:hover { text-decoration: none; background:#CCC; color:#333; }

/*------------------------------*/
#heading{
	font-size: 18px;
	text-transform:uppercase;
	font-weight:600;
	color:#0099CC;
	text-align:center;
}
/*--pageination scroller--*/

#infinitescroller {
	text-align:center;
  	width: 99.5%;
  	height: 300px;
  	overflow:auto;
}

#infinitescroller2 {
	text-align:center;
  	width: 99.5%;
  	height: 250px;
  	overflow:auto;
}

@media print
{
    #hidePrint{display:none;}
	html, body {
	top:15px;
	width:800px;
	height:650px;}	   
}